---
//@ts-nocheck
import "../style/general.css";
import Layout from "../layouts/Layout.astro";

import CalenderCard from "../components/CalenderCard.astro";
---

<Layout>
  <h1>Events hos Circular Lab</h1>
  <CalenderCard />
</Layout>

<style>
  body {
    background-color: var(--bg-grey);
  }
  h1 {
    margin: 30px 0 10px 0;
  }

  @media (min-width: 1110px) {
    h1 {
      text-align: center;
      margin: 80px 0 50px 0;
    }
  }
</style>
