---
//@ts-nocheck
import "../style/general.css";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import CalenderCard from "../components/CalenderCard.astro";
---

<Layout>
  <Menu />
  <h1>Events hos Circular Lab</h1>
  <CalenderCard />
  <Footer />
</Layout>
