:root {
  --secondary-col: #003b5c;
  --rosa: #f5a8a1;
  --pink: #eb5c8e;
  --drkpurp: #664f60;
  --lightblue: #5dc4e5;
  --brand-col: #ff7500;
  --yellow: #ffda48;
  --turquoise: #73c3ac;
  --green: #79bf80;
  --purple: #9f96c9;
  --bg-grey: #ededed;
  --black: #000000;
  --white: #ffffff;
}

@font-face {
  font-family: "helveticaneueltstd_blk";
  src: url("../fonts/helveticaneueltstd_blk.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-Roman";
  src: url("../fonts/HelveticaNeue-Roman.otf") format("opentype");
}
h1,
h2,
h3,
h5 {
  font-family: "helveticaneueltstd_blk";
  color: var(--secondary-col);
}

h4 {
  font-family: "HelveticaNeue-Roman";
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}
p {
  font-size: 18px;
}
.p-smaller {
  font-size: 14px;
}
.p-bigger {
  font-size: 22px;
}

@media screen and (min-width: 850px) {
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 34px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  p {
    font-size: 24px;
  }
  .p-smaller {
    font-size: 20px;
  }
  .p-bigger {
    font-size: 34px;
  }
}
